# Dependencies
node_modules

# Build output
app/dist
functions/lib

# Environment secrets
.env
.env.local
.env.*.local

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
